<div class="home" id="home">
  <div class="row-fluid">
    <div class="container-fluid">
      <div class="span7">
        <div class="slider-container">
               <div id="slider">
                 <%= image_tag 'img/image23.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/image1.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/Jatiyo Smriti Soudho at Savar.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/nature2.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/kaptai.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/mymensingh.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/mymensingh2.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/mymensingh3.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/mymensingh4.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/mymensingh5.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/nature3.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/nature4.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/tuhin42.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/nature5.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/sylhet.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/saint1.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/saint4.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/saint5.jpg', class: 'slider-image' %>
                 <%= image_tag 'img/saint6.jpg', class: 'slider-image' %>
               </div>
        </div>

      </div>

    </div>
  </div>

</div>

