<div class="resume row-fluid" id="resume">

<div class="resume-container container-fluid">

<div class="col-1 span4">
  <h2 class="name"> Shahriar Ahmmed </h2>

  <div class="image-container">
    <%= image_tag 'tuhin.png', class: 'resume-image img-responsive' %>
  </div>
  <div class="objective">
    <div class="objective-text"> I like the challenge of programming. I want to engage myself as a computer science engineer
      where I can explore my problem-solving skills, my knowledge, technical skills ,engineering as well as interpersonal
      skill in order to develop my career & hence to contribute for the betterment of the organization.
    </div>
  </div>
  <div class="picon-container">
    <%= image_tag 'phone.png', class: 'picon' %>
    <div class="phone-number">+08801714755033</div>
  </div>
  <div class="picon-container">
    <%= image_tag 'email.jpg', class: 'picon' %>
    <%= mail_to 'tuhinshahriar@gmail.com', 'tuhinshahriar@gmail.com', class: 'email' %>
  </div>
  <div class="picon-container">
    <%= image_tag 'address.png', class: 'picon' %>
    <div class="address"> 51/A/3 West Rajabajar, Dhaka</div>
  </div>
  <div class="picon-container">
    <%= image_tag 'DOB.png', class: 'picon' %>
    <div class="dob">October 22, 1990</div>
  </div>
  <div class="picon-container">
    <%= image_tag 'lin.png', class: 'picon' %>
    <a href="bn.linkedin.com/in/ahmmed" target="_blank" class="linkedin">bn.linkedin.com/in/ahmmed</a>
  </div>
  <div class="row-fluid">
    <div class="container-fluid">
      <%= image_tag 'cskill.png', class: 'icon' %>
      <div class="divide-line">...................................................</div>
      <div class="language-skill">
        C, C++, Java, HTML, PHP, CSS,
        Ajax, JQuery, JavaScript, Ruby,
        MongoDB, MySQL, PostgreSQL
      </div>
    </div>
  </div>
  <div class="skill-wall">.........................................................</div>
  <div class="tools-skill">
    Rails, Bootstrap, RubyMine, Git,
    Netbeans, Eclipse
  </div>
  <div class="row-fluid">
    <div class=" container-fluid">
      <%= image_tag 'interest.png', class: 'icon' %>
      <div class="divide-line">..........................................</div>
      <div class="interest">
        Travelling, Photography, Cricket,
        Football, Book Readings, Video Games
      </div>
    </div>
  </div>
  <div class="clearfix picon-container"></div>
</div>

<div class="col-2 span8">
<div class="row-fluid">
<div class="container-fluid">
<!--// ***********************  for education *******************-->
<div class="education">
  <div class="row-fluid">
    <div class="container-fluid">
      <div class="educationicon row-fluid">
        <div class="container-fluid">
          <div class="span12">
            <%= image_tag 'educationicon.png', class: 'icon' %>
            <div class="doticon">.</div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="container-fluid">
          <div class="span1">
            <div class="degree"><h4> B.Sc</h4>

              <div class="passing-year"> 2013</div>
            </div>
          </div>
          <div class="span1"></div>
          <div class="span9">
            <div class="institute"><h4>Chittagong University of Engineering & Technology </h4></div>
            <div class="clearfix"></div>
            <div class="subject"> Computer Science and Engineering</div>
            <div class="clearfix"></div>
            <div class="result"> CGPA 3.40 out of 4.00</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="container-fluid">
          <div class="span1">
            <div class="degree"><h4> HSC </h4>

              <div class="passing-year"> 2008</div>
            </div>
          </div>
          <div class="span1"></div>
          <div class="span9">
            <div class="institute"><h4> Azizul Haque College, Bogra </h4></div>
            <div class="clearfix"></div>
            <div class="result"> GPA 5.00 out of 5.00</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="container-fluid">
          <div class="span1">
            <div class="degree"><h4> SSC </h4>

              <div class="passing-year"> 2006</div>
            </div>
          </div>
          <div class="span1"></div>
          <div class="span9">
            <div class="institute"><h4> Gaibandha Govt. High School, Gaibandha </h4></div>
            <div class="clearfix"></div>
            <div class="result"> GPA 5.00 out of 5.00</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// ***********************  for experience *******************-->
<div class="experience">
  <div class="row-fluid">
    <div class="container-fluid">

      <div class="experienceicon row-fluid">
        <div class="container-fluid">
          <div class="span12">
            <%= image_tag 'experience.jpg', class: 'icon' %>
            <div class="doticon">.</div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="container-fluid">
          <div class="span2">
            <div class="designation"> Jr. Software Engineer</div>
            <div class="clearfix"></div>
            <div class="company-name"><h4> Nascenia IT</h4></div>
            <div class="clearfix"></div>
            <div class="experience-duration"> 1 Year</div>
          </div>
          <div class="span10">
            <div class="about-experience">
              I worked on the RoR team and was part of the core
              development team.<br/> Worked community chat messaging system capable of single or group
              chat conversation.<br/>Worked pdf generation and context based help documentation of entire
              site.
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="container-fluid">
          <div class="span2">
            <h4>Final Thesis</h4>
          </div>
          <div class="span10">
            Split Channel Management for Reduction of Handoff Delay in Internet Based WMNs<br/>
            <b>Tools:</b> C++, Network Simulator (NS-2)<br/>
            <b>Supervised by:</b> Mir Md. Saki Kowsar, Assistant
            Professor, CSE, CUET
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="training row-fluid">
  <div class="container-fluid">
    <div class="span12">
      <%= image_tag 'training.png', class: 'icon' %>
      <div class="doticon">.</div>
    </div>
    I have completed my industrial training at Brainstation23. It was two weeks
    long and I have learned about web related advanced knowledge.
  </div>
</div>
<!--// ***********************  for award *******************-->
<div class="award row-fluid">
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="container-fluid">
        <div class="span12">
          <%= image_tag 'award.jpg', class: 'icon' %>
          <div class="doticon">.</div>
        </div>
      </div>
    </div>
    <div class="award-text row-fluid">
      <div class="container-fluid">
        <div class="span1"></div>
        <div class="span1">
          <%= image_tag 'options.png', class: 'small-icon' %>
        </div>
        <div class="span9">
          Got 3rd prize in Samsung android application development contest
          for Vo-Texter–a voice recognizing android application specially
          for visually impaired people which supports both Bengali and
          English voice recognition
        </div>

      </div>
    </div>
    <div class="award-text row-fluid">
      <div class="container-fluid">
        <div class="span1"></div>
        <div class="span1">
          <%= image_tag 'options.png', class: 'small-icon' %>
        </div>
        <div class="span9">
          Participation in the CUET Inter University programming contest-2011
        </div>
      </div>
    </div>
    <div class="award-text row-fluid">
      <div class="container-fluid">
        <div class="span1"></div>
        <div class="span1">
          <%= image_tag 'options.png', class: 'small-icon' %>
        </div>
        <div class="span9">
          Participation in several online Programming Contests
        </div>

      </div>
    </div>
    <div class="award-text row-fluid">
      <div class="container-fluid">
        <div class="span2"></div>
        <div class="span10">
          <div class="container-fluid">
            <div class="span5">
              <span> 1. UVA online programming judge </span>
            </div>
            <div class="span1"></div>
            <div class="span4">
              <span> 2.Codeforce </span>
            </div>
          </div>
          <div class="container-fluid">
            <div class="span5">
              <span> 3. TJU ICPC online judge </span>
            </div>
            <div class="span1"></div>
            <div class="span4">
              <span> 4.LightOJ </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="award-text row-fluid">
      <div class="container-fluid">
        <div class="span1"></div>
        <div class="span1">
          <%= image_tag 'options.png', class: 'small-icon' %>
        </div>
        <div class="span9">
          Got University Scholarship’s according to semester results
        </div>
      </div>
    </div>
  </div>
</div>

<div class="programming row-fluid">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="container-fluid">
        <div class="span12">
          <%= image_tag 'programming.png', class: 'icon' %>
          <div class="doticon">.</div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="span2">
        <h4>ACM-UVA</h4>
      </div>
      <div class="span10">
        I have solved 143 problems on UVA Online
        Judge and participated many programming contests both in
        real time and online
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>