<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand page-scroll" href="#home">
        <span><%= image_tag 'shahriar_logo.png', class: 'brand_image' %></span>
        <span class="brand-name">AHMMED</span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'HOME','#home',class: 'page-scroll'  %></li>
          <li><%= link_to 'RESUME','#resume', class: 'page-scroll' %></li>
          <li><%= link_to 'ABOUT', '#about',class: 'page-scroll' %></li>
          <li><%= link_to 'CONTACT', '#contact',class: 'page-scroll' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="site_flash_container flash-less-width" style="z-index: 2001;">
  <div class="flash-container">
    <div id="flash_message_div">
      <%= render partial: "/flash_messages" %>
    </div>
  </div>
</div>

<%= render :partial => 'home' %>
<%= render :partial => 'resume' %>
<%= render :partial => 'about' %>
<%= render :partial => 'contact', :locals => {viewer: @viewer} %>


<script type="text/javascript">
    $(document).ready(function(){
        if(!flux.browser.supportsTransitions)
            alert("Flux Slider requires a browser that supports CSS3 transitions");
        window.myFlux = new flux.slider('#slider',{
            controls: true,
            captions: false,
            pagination: false,
            width: 600,
            height: 410
        });
    });

</script>