<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand page-scroll" href="#home">Shahriar</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home','#home',class: 'page-scroll'  %></li>
          <li><%= link_to 'Resume','#resume', class: 'page-scroll' %></li>
          <li><%= link_to 'Contact', '#contact',class: 'page-scroll' %></li>
          <li><%= link_to 'About', '#about',class: 'page-scroll' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="home" id="home">

  <h1>Welcome to my website </h1>
  <p>Find me in facebook tuhinshahriar@gmail.com </p>

  <%= image_tag('rails.png')%>

</div>



<div class="resume row" id="resume">

    <div class="col-1 span4">
      <h2 class="name" > Shahriar Ahmmed </h2>
      <div class="image-container">
        <%= image_tag 'tuhin.png', class: 'resume-image' %>
      </div>
      <div class="objective">
        <div class="objective-text" > To engage myself as a computer science engineer in a challenging field of IT offering innovative and
          analytical thinking, problem-solving skills where I can explore my talent, my knowledge,
          technical skills ,engineering as well as interpersonal skill, creativity in order to develop my
          career & hence to contribute for the betterment of the organization.
        </div>
      </div>
      <div class="picon-container">
        <%= image_tag 'phone.png', class:'picon' %>
        <div class="phone-number">+08801714755033</div>
      </div>
      <div class="picon-container">
        <%= image_tag 'email.jpg', class: 'picon' %>
        <%= mail_to 'tuhinshahriar@gmail.com', 'tuhinshahriar@gmail.com', class: 'email' %>
      </div>
      <div class="picon-container">
        <%= image_tag 'address.png',class: 'picon' %>
        <div class="address"> 51/A/3 West Rajabajar, Dhaka </div>
      </div>
      <div class="picon-container">
        <%= image_tag 'DOB.png',class: 'picon' %>
        <div class="dob">October 22, 1990</div>
      </div>
      <div class="picon-container">
        <%= image_tag 'lin.png',class: 'picon' %>
        <div class="linkedin">bn.linkedin.com/in/hammed</div>
      </div>
    </div>
  <div class="col-2 span7">

  </div>
</div>

<div class="contact" id="contact">

</div>

<div class="about" id="about">


</div>