<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand page-scroll" href="#home">Shahriar</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home','#home',class: 'page-scroll'  %></li>
          <li><%= link_to 'Resume','#resume', class: 'page-scroll' %></li>
          <li><%= link_to 'Contact', '#contact',class: 'page-scroll' %></li>
          <li><%= link_to 'About', '#about',class: 'page-scroll' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="home" id="home">

  <h1>Welcome to my website </h1>
  <p>Find me in facebook tuhinshahriar@gmail.com </p>

  <%= image_tag('rails.png')%>

</div>



<div class="resume row" id="resume">

  <div class="resume-container">
    <div class="col-1 span4">
      <h2 class="name"> Shahriar Ahmmed </h2>
      <div class="image-container">
        <%= image_tag 'tuhin.png', class: 'resume-image' %>
      </div>
      <div class="objective">
        <div class="objective-text"> To engage myself as a computer science engineer in a challenging field of IT
          offering innovative and
          analytical thinking, problem-solving skills where I can explore my talent, my knowledge,
          technical skills ,engineering as well as interpersonal skill, creativity in order to develop my
          career & hence to contribute for the betterment of the organization.
        </div>
      </div>
      <div class="picon-container">
        <%= image_tag 'phone.png', class: 'picon' %>
        <div class="phone-number">+08801714755033</div>
      </div>
      <div class="picon-container">
        <%= image_tag 'email.jpg', class: 'picon' %>
        <%= mail_to 'tuhinshahriar@gmail.com', 'tuhinshahriar@gmail.com', class: 'email' %>
      </div>
      <div class="picon-container">
        <%= image_tag 'address.png', class: 'picon' %>
        <div class="address"> 51/A/3 West Rajabajar, Dhaka</div>
      </div>
      <div class="picon-container">
        <%= image_tag 'DOB.png', class: 'picon' %>
        <div class="dob">October 22, 1990</div>
      </div>
      <div class="picon-container">
        <%= image_tag 'lin.png', class: 'picon' %>
        <div class="linkedin">bn.linkedin.com/in/hammed</div>
      </div>
    </div>
    <div class="col-2 span8">
      <div class="education">
        <div class="icon-container">
          <%= image_tag 'educationIcon.png', class: 'icon' %>
          <div class="doticon">.</div>
        </div>
        <div class="degree"> <h4> B.Sc</h4> </div>
        <div class="institute third-col"> <h3>Chittagong University of Engineering & Technology </h3></div>
        <div class="clearfix"></div>
        <div class="passing-year"> 2013 </div>
        <div class="subject third-col"> Computer Science and Engineering </div>
        <div class="clearfix"></div>
        <div class="result fourth-col"> CGPA 3.40 out of 4.00 </div>
        <div class="clearfix"></div>
        <div class="degree"> <h4> HSC</h4> </div>
        <div class="institute third-col"> <h3> Azizul Haque College, Bogra</h3></div>
        <div class="clearfix"></div>
        <div class="passing-year"> 2008 </div>
        <div class="result third-col"> GPA 5.00 out of 5.00 </div>
        <div class="clearfix"></div>
        <div class="degree"> <h4> SSC</h4> </div>
        <div class="institute third-col"> <h3> Gaibandha Govt. High School, Gaibandha</h3></div>
        <div class="clearfix"></div>
        <div class="passing-year"> 2006 </div>
        <div class="result third-col"> GPA 5.00 out of 5.00 </div>
        <div class="clearfix"></div>
      </div>
      <div class="experience">
        <div class="icon-container">
          <%= image_tag 'experience.jpg', class: 'icon' %>
          <div class="doticon">.</div>
        </div>
        <div class="designation"> Jr. Software Engineer</div>
        <div class="clearfix"></div>
        <div class="company-name"> <h3> Nascenia IT</h3></div>
        <div class="clearfix"></div>
        <div class="experience-duration"> 1 Year </div>
        <div class="about-experience"> I worked on the RoR team and was part of the core
          development team.
          Worked community chat messaging system capable of
          single or group chat conversation.
          Worked pdf generation and context based help
          documentation of entire site.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contact">

</div>

<div class="about" id="about">


</div>