<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand page-scroll" href="#">Shahriar</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active page-scroll"><%= link_to 'Home','#'  %></li>
          <li><%= link_to 'Resume','#resume', class: 'page-scroll' %></li>
          <li><%= link_to 'Contact', '#contact' %></li>
          <li><%= link_to 'About', '#about' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="home" id="home">

  <h1>Welcome to my website </h1>
  <p>Find me in facebook tuhinshahriar@gmail.com </p>

  <%= image_tag('rails.png')%>

</div>



<div class="resume row" id="resume">

    <div class="span4">
      <h2 class="name"> Shahriar Ahmmed </h2>
      <div class="image_container">
        <%= image_tag('images/tuhin') -%>
      </div>
      <section class="obectives">
        <p>
           To engage myself in innovative works that i can explore my
           talent and my experience.
        </p>
      </section>
    </div>

</div>

<div class="contact" id="contact">

</div>

<div class="about" id="about">


</div>