<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand page-scroll" href="#home">Shahriar</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home','#home',class: 'page-scroll'  %></li>
          <li><%= link_to 'Resume','#resume', class: 'page-scroll' %></li>
          <li><%= link_to 'About', '#about',class: 'page-scroll' %></li>
          <li><%= link_to 'Contact', '#contact',class: 'page-scroll' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'home' %>
<%= render :partial => 'resume' %>
<%= render :partial => 'about' %>
<%= render :partial => 'contact' %>


